/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:  0;
    padding: 0;
}

html {
    background-color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
    color: #6d6d6d;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 100px;
    width: 400px;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    text-align: left;
    box-shadow: 0px 5px 10px #aaa;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.card h2 {
    font-weight: 400;
}

.card span {
    font-weight: 200;
}

.card img {
    border-radius: 50%;
    height: 100px;
}

.card .content {
    max-width: 225px;
    line-height: 1.7rem;
    margin: auto 25px;
}

.card .content .buttons {
    height: 30px;
}

.card .content a {
    margin-right: 5px;
}

.card .content svg {
    height: 30px;
    fill: #6d6d6d;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: #ccc solid 1px;
    padding: 1em;
    font-size: 0.8em;
    background-color: whitesmoke;
}

.footer button{
    margin: 5px auto 0;
    padding: 5px;
    font-size: 0.8em;
    color: #6d6d6d;
}

.politica {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 50px 10px;
    line-height: 1.5em;
    text-align: justify;
}

.politica h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}

.politica h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 5px;
}

.politica p {
    width: 100%;
    margin: 2px;
}

.politica ul {
    list-style: square;
    margin: 0 0 0 3em;
}

.politica button {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}